*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --background: #f6f5f5;
    --secondaryBackground: #171c48;
    --text: #171c48;
    --purple: #828dff;
    --teal: #24feee;
}

body{
    height: 100%;
    background: linear-gradient(90deg,#68eacc 0%, #0A369D 100%);
    color: var(--text);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px auto 0 auto;
    max-width: 600px;
    padding: 10px 50px;
}

.stats-container{
    padding: 30px;
    border-radius: 10px;
    border: 1px solid var(--purple);
    display: flex;
    gap: 50px; 
    width: 100%;
    background-color: var(--background);
    justify-content: space-between;
    color: #000430;
}

.details {
    width: 100%;
}

#numbers{
    width: 100px;
    height: 100px;
    display: flex;
    background-color: var(--background);
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 5px solid #000430;
    font-size: 30px;
    font-weight: bold;
    color: #000430;
}

#progressBar{
    width: 100%;
    height: 10px;
    background-color: transparent;
    border: 1px solid var(--secondaryBackground);
    border-radius: 5px;
    margin-top: 20px;
    overflow: hidden;
}

#progress{
    width: 0%;
    height: 10px;
    background-color: var(--teal);
    border-radius: 10px;
    transition: all 0.3s ease;
}

form{
    box-sizing: border-box;
    margin-top: 60px;
    width: 100%;
    height: 50px;
    display: flex;
    gap: 10px;
    border-radius: 40px;
    padding: 0;
    background-color: white;
    border: 1px solid var(--purple);
    object-fit: contain;
    overflow: hidden;
}

input{
    flex: 1;
    padding: 16px;
    background: white;
    border: none;
    outline: none;
    color: var(--text);
}

button{
    padding: 16px 50px;
    width: 50px;
    height: 99%;
    margin: auto;
    border-radius: 40px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9af5dd;
    color: var(--text);
    font-size: 15px;
    font-weight: 500;
    outline: none;
    cursor: pointer;
}

form button{
    transition: 250ms ease-out;
}

form button:hover{
    background-color: #0e937d;
    color: white;
}

form button:active{
    background-color: grey;
}

#task-list{
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-top: 30px;
    width: 100%;
    list-style: none;
    height: 250px;
    overflow: auto;

}

.task-item{
    width: 100%;
    display: flex;
    background-color: white;
    padding: 10px;
    border: 1px solid var(--purple);
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;

}

.task{
    display: flex;
    align-items: center;
    gap: 10px;
}

.task input{
    width: 20px;
    height: 20px;

}

.completed p{
    text-decoration: line-through;
    color: var(--teal);
}

.task-item img{
    width: 24px;
    height: 24px;
    margin: 0 10px;
    cursor: pointer;
}